<h1>Reservations Show Page </h1>

<%= link_to "Show all Reservations", restaurant_reservations_path %>

<h2><%= @reservation.restaurant.name %></h2>
<h2><%= @reservation.number_of_guests %></h2>
<h2><%= @reservation.date_of_reservation %></h2>
