<h1>Breakfast Club</h1>

<p>

<!-- #erased loop because above code is equilavent. This way the list does not appear twice -->

<%= link_to 'Create New Restaurant',  new_restaurant_path %>




</p>



<%= render @restaurants %>
