<h1>Breakfast Club</h1>

<%= render @restaurants %>
<p>
<% @restaurants.each do |restaurant| %>
    <%= render 'restaurant', restaurant: restaurant %>
  <% end %>

<%= link_to 'Create New Restaurant',  new_restaurant_path %>

</p>
