<h1>Breakfast Club</h1>

<p>

  <% @restaurants.each do |looped_restaurant| %>
    <%= render 'restaurants', location: looped_restaurant %>
  <% end %>

<%= link_to 'New Restaurant',  new_restaurant_path %>


<%= render @restaurants %>


</p>
